<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849148057246-j1k6d7be4qn84u0i7mlv3f11mofm8q2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849148057246-j1k6d7be4qn84u0i7mlv3f11mofm8q2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDN3zAViVXYoXWqE8njrtRTAC4FtgAUP0M</string>
	<key>GCM_SENDER_ID</key>
	<string>849148057246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.demo</string>
	<key>PROJECT_ID</key>
	<string>fir-f78b0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-f78b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849148057246:ios:9b48142cdce840a7b7cd8f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-f78b0.firebaseio.com</string>
</dict>
</plist>